<a href="https://colab.research.google.com/github/FarhanSE/Python-DSA-GFG/blob/master/Amna's_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [4,5,6,7,8,9,12,34,67,89,90]

In [ ]:
len(a)

11

In [ ]:
"This is {} {}".format("farhan", a)

'This is farhan [4, 5, 6, 7, 8, 9, 12, 34, 67, 89, 90]'

In [ ]:
f"This is {'Farhan'} jbhbdhsbc {a}"

'This is Farhan jbhbdhsbc [4, 5, 6, 7, 8, 9, 12, 34, 67, 89, 90]'

In [ ]:
def search_binary(list_,n):
  lower = 0
  upper = len(list_)-1
  while lower <= upper:
    mid = (lower+upper) // 2
    print(mid)
    if n == list_[mid]:
      return f"{n} found at index {mid}"
    elif mid == upper or lower==mid:
      return "Not found"
    else:
      if list_[mid] < n:
        lower = mid
      else:
        upper = mid

In [ ]:
print(search_binary([4,5,6,7,8,9,12,34,67,89,90],89))

5
7
8
9
89 found at index 9

# Reverse array in groups

In [ ]:
def reverseInGroups(lngth, rev_index, arr=None):
  result = list()
  
  if not arr:
    arr = range(0, lngth)
  print(arr)
  start = 0
  extra = []
  for j in range(rev_index, lngth):
    extra.append(arr[j])
  while start < rev_index:
    for i in range(rev_index-1, -1, -1):
      result.append(arr[i])
      start +=1
  return result

In [ ]:
print(reverseInGroups(20, 10))

range(0, 20)
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Triplets

In [ ]:
def findTriplets(arr, n):
        #code here
        if n < 3:
            return False

        total = 0
        for i in range(0,n-1):
            s = set()
            for j in range(i+1,n):
                total = arr[i] + arr[j]
                print(arr[i],arr[j], total)
                if -(total) in s:
                    return True
                else:
                    s.add(arr[j])
        return False

In [ ]:
findTriplets([0,1,-1,2,3,4,5,6,78,88,99], 8 )

0 1 1
0 -1 -1

True

In [ ]:
-(1) in {-1}

True

# Rotate array cyclically

In [ ]:
def rotate( arr, n):
  num = arr[0]
  print("num",num)
  arr[0] = arr[n-1]
  for i in range(0,n-1):# 66,2,3,4,5,6,7,8,9
      temp = arr[i+1]
      print("temp",temp)
      arr[i+1] = num
      num = temp
  return arr

In [ ]:
rotate([2,3,4,5,6,7,8,9,66], 9)

num 2
temp 3
temp 4
temp 5
temp 6
temp 7
temp 8
temp 9
temp 66

[66, 2, 3, 4, 5, 6, 7, 8, 9]

# Find if two array are equal or not

In [ ]:
def check(A,B):
  A=sorted(A)
  B=sorted(B)
  if(A==B):
      return True
  return False

In [ ]:
check([1,2,3],[1,2,3,4])

False

# Find index of item in array

In [ ]:
def search_item(arr, X):
  j = 0
  for i in range(len(arr)-1):
    if arr[i] == X:
      return i
  return -1

In [ ]:
search_item([2,4,5,6,7,8],7)

4